# Dependency directories
node_modules/
server/node_modules/
client/node_modules/
dashboard/node_modules/

# Example environment files
server/.env
client/.env
dashboard/.env

# Ignored folders with their content
server/uploads/admin/*
server/uploads/services/*
server/uploads/products/*
server/uploads/profile/*