##########################URLS##########################
REACT_APP_DEVELOPMENT=true
REACT_APP_API_DEV=http://127.0.0.1:4040/
REACT_APP_API=https://agenda-back.onrender.com/
REACT_APP_IMAGE_URI_DEV=http://127.0.0.1:4040/
REACT_APP_IMAGE_URI=https://agenda-back.onrender.com/
REACT_APP_URL=https://localhost:3000/
REACT_APP_STRIPE_API_KEY=sk_test_51OH291ClKSZBdri4dgaxPLaT8ozAr8pidwbmcU8rrHTFl1XMY0wwOHqNGSzF8TFUZ2mLS4BvwlaR9wS63d3ZaJRz00AGcZwPGq

##########################FIREBASE######################
REACT_APP_FIREBASE_APIKEY=AIzaSyA1tn-w8aHRTNf7YGmdi7IewFeEjZn008s
REACT_APP_FIREBASE_AUTHDOMAIN=agenda-image-upload.firebaseapp.com
REACT_APP_FIREBASE_PROJECTID=agenda-image-upload
REACT_APP_FIREBASE_STORAGEBUCKET=agenda-image-upload.appspot.com
REACT_APP_FIREBASE_MESSAGINGSENDERID=24995092287
REACT_APP_FIREBASE_APPID=1:24995092287:web:97203200e3ba22646e258a