##########################URLS##########################
REACT_APP_DEVELOPMENT=true
REACT_APP_API_DEV=http://127.0.0.1:4040/
REACT_APP_API=https://agenda-back.onrender.com/
REACT_APP_IMAGE_URI_DEV=http://127.0.0.1:4040/
REACT_APP_IMAGE_URI=https://agenda-back.onrender.com/
##########################FIREBASE CONFIG##########################
FIREBASE_APIKEY=AIzaSyA1tn-w8aHRTNf7YGmdi7IewFeEjZn008s
FIREBASE_AUTHDOMAIN=agenda-image-upload.firebaseapp.com
FIREBASE_PROJECTID=agenda-image-upload
FIREBASE_STORAGEBUCKET=agenda-image-upload.appspot.com
FIREBASE_MESSAGINGSENDERID=24995092287
FIREBASE_APPID=1:24995092287:web:97203200e3ba22646e258a