@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Regular.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Bold.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-BoldItalic.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Italic.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Light.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-Light.woff') format('woff');
  font-weight: 300; /* Adjust the font weight as needed */
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-LightItalic.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-LightItalic.woff') format('woff');
  font-weight: 300; /* Adjust the font weight as needed */
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-Medium.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: 500; /* Adjust the font weight as needed */
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('../public/fonts/Ubuntu-MediumItalic.woff2') format('woff2'),
       url('../public/fonts/Ubuntu-MediumItalic.woff') format('woff');
  font-weight: 500; /* Adjust the font weight as needed */
  font-style: italic;
}


body {
  margin: 0;
  font-family: 'Ubuntu', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

  @layer components {
    /* .my-react-select-container {
    } */
    .my-react-select-container .my-react-select__control {
      @apply bg-white dark:bg-gray-700 border-2 border-gray-300 dark:border-gray-700 hover:border-gray-400 dark:hover:border-gray-500;
    }
  
    .my-react-select-container .my-react-select__control--is-focused {
      @apply border-gray-500 hover:border-gray-500 dark:border-gray-400 dark:hover:border-gray-400 shadow-none;
    }
  
    .my-react-select-container .my-react-select__menu {
      @apply bg-gray-100 dark:bg-gray-700 border-2 border-gray-300 dark:border-gray-600;
    }
  
    .my-react-select-container .my-react-select__option {
      @apply text-gray-600 dark:text-gray-200 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-800;
    }
    /* .my-react-select-container .my-react-select__option--is-focused {
      @apply bg-gray-200 dark:bg-gray-800;
    } */
  
    .my-react-select-container .my-react-select__indicator-separator {
      @apply bg-gray-400;
    }
  
    .my-react-select-container .my-react-select__input-container,
    .my-react-select-container .my-react-select__placeholder,
    .my-react-select-container .my-react-select__single-value {
      @apply text-gray-600 dark:text-gray-200;
    }
  }

  @keyframes pop {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Use the .animate-pop class to apply the animation to the button */
  .animate-pop {
    animation: pop 0.5s ease-in-out;
  }

  /* Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}